
:root{
    --primary-color:red;
}
h1{
    font-size: 1.8rem;
    font-weight: 800;
}
p{
    font-size: .8rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.heroCoin{
    display: grid;
    place-content: center;
    background-color: rgba(8, 8, 8, 0.956);
    height:90vh;
    position: relative;
}


.custom-shape-divider-bottom-1696838868 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1696838868 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
    transform: rotateY(180deg);
   
}

.custom-shape-divider-bottom-1696838868 .shape-fill {
    fill: #FFFFFF;
}





.image{
margin-left: 40%;
margin-top: 40%;
width: 20em;
size: cover;

overflow-x: hidden;

}

.text{
    word-spacing: .7rem;
    
    font-weight: 900;
}


.video-section{
    max-width: 100%;
    height: auto;
    width: 60%;
    border-radius: 1rem;

}

.hero-section{
    display: grid;
    place-content: center;
}


.card-box{
    border: .1rem;
    box-shadow: .3rem .4rem .5rem .3rem gray;
    border-radius: 1rem;
}

.icon-span{
    color: powderblue;
  
    text-align: center;
}


.Navv h1 {
    font-size: 1.3rem;
    margin-left: 2rem;
    font-weight: 700;
   color:black;    
   
}

.Navv h1:hover{
    color: red;
    font-size:1.4rem ;
}

.navy{
    background-color: black;
}


@media (max-width:426px) {
    .hero-section h1{
        font-size: 5rem;
        margin-top: 2rem;
    }
    .mid-section h5{
        font-size: 3rem;
    }
}